<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/board.css}">

<body>
	<!-- header -->
	<div th:include="~{/includes/header}"></div>
	
	<div class="form-container">
		<form action="/cocktail/form" method="post">
			<div class="form-group">			
				<label for="name">제목 </label>
				<input type="text" id="title" name="title" placeholder="제목을 입력하세요">  <!-- 스프링이 MemberForm의 String name과 연결해줌 -->
				<br><br>
				
				<label for="engName">내용 </label>
				<input type="text" id="contents" name="contents" placeholder="내용을 입력하세요">
				<br><br>
				
				<input type="hidden" id="hit" name="hit">

				<input type="hidden" id="regDate" name="regDate">

				<input type="hidden" id="modDate" name="modDate">
			</div>
			<br><br>
			<button type="submit">등록</button>
		</form>
	</div> <!-- /container -->
	
	<!-- footer -->
	<div th:include="~{/includes/footer}"></div>
</body>
</html>